<template>
    <v-container v-if="loading" grid-list-xl text-xs-center>
        <v-layout wrap>
            <v-flex xs12>
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
            </v-flex>
        </v-layout>
    </v-container>

    <v-container v-else grid-list-xl>
        <v-layout wrap>
            <v-flex xs4 v-for="(item, index) in wholeResponse" :key="index" mb-2>
                <v-card :loading="loading" class="mx-auto my-12" max-width="374">
                    <v-img height="250" :src="item.Poster"></v-img>
                    <v-card-title>{{ item.Title }}</v-card-title>
                    <v-card-text>
                        <v-row align="center">
                            <v-rating :value="4.5" color="amber" half-increments dense size="14" readonly></v-rating>
                            <div class="grey--text ml-4">3(15)</div>
                            <div class="ml-4 ml-md-8"> Type: {{ item.Type }}</div>
                        </v-row>
                        <div class="my-4 subtitle-1 black--text">
                           Year: {{ item.Year }}
                        </div>
                    </v-card-text>
                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                        <v-btn class="ma-2" tile outlined color="success" @click="singleMovie(item.imdbID)">
                            <v-icon left>mdi-mouse</v-icon>
                            View
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import movieApi from "@/services/MovieApi";

    export default {
        name: "LastMovie",
        data() {
            return {
                wholeResponse: [],
                loading: true
            }
        },
        mounted() {
            movieApi.fetchMovieCollection('indiana').then(response => {
                this.wholeResponse = response.Search;
                this.loading = false;
            }).catch(() => {

            });
        },
        methods: {
            singleMovie(id) {
                this.$router.push('/movie/' + id);
            }
        }
    }
</script>

<style scoped>

</style>
