<template>
    <v-app>
        <v-app-bar app>
            <v-toolbar-title class="headline text-uppercase">
                <span>Vuetify</span>
                <span class="font-weight-light">MATERIAL DESIGN</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-flex xs12 sm4 md3>
                <v-text-field label='Movie Name' v-model='searchString'>
                </v-text-field>
            </v-flex>
            <v-btn class="ma-2" tile outlined color="success" @click="searchMovie" :disabled="!available">
                Search
            </v-btn>
        </v-app-bar>

        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        components: {},
        data() {
            return {
                searchString: ''
            }
        },
        methods: {
            searchMovie() {
                this.$router.push('/search/' + this.searchString);
                this.searchString = '';
            }
        },
        computed: {
            available() {
                return this.searchString !== null && this.searchString !== '';
            }
        }
    }
</script>
